[SddmGreeterTheme]
Name=RuloGamerOS
Description=Login y bloqueo de pantalla de RuloGamerOS
Author=rulogameros
Copyright=(c) 2026
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/s7lver2/rulogameros
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Font=Noto Sans
